.Breweries {
    margin: 0 auto;
}

.Breweries__heading {
  text-align: center;
}

.Breweries__locale {
  border-bottom: 1px dotted #222;
}

.Breweries__empty {
  text-align: center;
}

.Breweries__item-container{
  margin: 0 0 2rem;
  padding: 0;
  list-style-type: none;
}

.Breweries__item {
  border-top: 1px solid #222;
  padding: 0.5rem 1rem;
  background-color: rgba(255,255,255,0.75);
}

.Breweries__item:first-child {
  border-width: 0;
}

.Breweries__item:nth-child(2n + 1) {
  background-color: rgba(255,255,255,0.5);
}

.Breweries__name {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.Breweries__row-wrap {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.Breweries__link {
  display: inline-block;
  padding: 0.125rem 0.75rem;
  border: 1px solid #555;
  text-decoration: none;
  box-shadow: 1px 1px #999;
}

@media only screen and (min-width: 376px) {
  .Breweries__name {
    text-align: left;
  }

  .Breweries__item {
    display: flex;
  }

  .Breweries__name,
  .Breweries__row-wrap {
    width: 50%;
    align-items: baseline;
  }

  .Breweries__row-item--call {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .Breweries {
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
  }
}
