/* Reference

-- Fonts
font-family: 'Lobster', cursive;
font-family: 'Lato', sans-serif; 400,700

-- Colors
National Flag Blue: #0d2240;
Process Blue: #00a8e1;
Mustard Yellow: #f7a800;
White: #fff;

*/

/* Global markup styles */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  color: #222;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.618; /* Golden ratio */
}


/* Global App Styles */

.App {
  text-align: center;
}
